[user]
    name = Carlos Mateu
    email = carlos.mateu@gigas.com
[alias]
    pl = log --graph --decorate --format=format:'%C(bold blue)%H%C(reset) - %C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    st = status
    co = checkout
    br = branch
    rb = rebase
    ci = commit
    ft = fetch
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[push]
    default = current
